<div class="flex items-center align-text-left h-full">
  <div class="flex-col ml-10">
    <div class="flex items-end text-primary ml-3">
      <h2 class="text-[28vh] uppercase font-extrabold leading-none">José</h2>
      <h2 class="text-[30px] uppercase font-semibold leading-none relative-adjustment  mb-6">
        Based in Caracas, Venezuela
      </h2>
    </div>
    <h2 class="text-[28vh] uppercase font-extrabold text-primary leading-10 pt-12">
      {{typedText$ | async}}
    </h2>
    <h3 class="text-[6vh] uppercase font-normal text-primary pt-16 ml-3">
      {{ typedTitle$ | async}}
    </h3>
    <ul class="flex items-end text-primary text-[3vh] font-semibold ml-3">
      <li class="hover-underline-animation">
        <a href="https://www.instagram.com/piedraprog" target="_blank" rel="noopener noreferrer">
          Instagram
        </a>
      </li> ,
      <li class="hover-underline-animation">
        <a href="https://www.instagram.com/piedraprog" target="_blank" rel="noopener noreferrer">
          Tiktok
        </a>
      </li> ,
      <li class="hover-underline-animation">
        <a href="https://www.instagram.com/piedraprog" target="_blank" rel="noopener noreferrer">
          Linkdn
        </a>
      </li> ,
    </ul>
  </div>
</div>