<div class="flex items-center align-text-left h-full w-full text-primary">
  <div class="flex-col ml-10 ">
    <div class="flex items-end ml-3">
      <h2 class="text-[28vh] uppercase font-extrabold leading-none">José</h2>
      <h2 class="text-[30px] uppercase font-semibold leading-none relative-adjustment  mb-6">
        Based in Caracas, Venezuela
      </h2>
    </div>

    <h2 class="text-[28vh] uppercase font-extrabold leading-10 pt-12">
      {{typedText$ | async}}
    </h2>
    <h3 class="text-[6vh] uppercase font-normal pt-16 ml-3">
      {{ typedTitle$ | async}}
    </h3>
    <div class="flex w-full justify-between">

      <app-socials-nav class="flex items-end text-[3vh] font-semibold ml-3"></app-socials-nav>
    
      <div class="spacer"></div>
    </div>
  </div>

  <div class="flex h-full">
    <button 
      class="text-[3vh] font-semibold self-end mb-36" 
      (click)="gotoNav()"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      I've to tell you where's the nav?
      <i [ngClass]="iconClass" class="transition-transform duration-300"></i>
    </button>
  </div>
</div>

