
<section class="h-[100vh] text-nowrap leading-tight font-bold pt-5 bg-background text-primary overflow-hidden 3xl:pt-44"> 
  <div class="flex leading-3 max-md:leading-[0] pt-[3rem]">
    <p class="loop-text right">{{text}}</p>
    <p class="loop-text right">{{text}}</p>
    <p class="loop-text right">{{text}}</p>
    <p class="loop-text right">{{text}}</p>
  </div>

  <div class="flex leading-3 max-md:leading-[0] pt-[6rem] 3xl:pt-[30rem]">
    <p class="loop-text left">{{text}}</p>
    <p class="loop-text left">{{text}}</p>
    <p class="loop-text left">{{text}}</p>
    <p class="loop-text left">{{text}}</p>
  </div>

  <div class="flex leading-3 max-md:leading-[0] pt-[6rem] 3xl:pt-[30rem]">
    <p class="loop-text right">{{text}}</p>
    <p class="loop-text right">{{text}}</p>
    <p class="loop-text right">{{text}}</p>
    <p class="loop-text right">{{text}}</p>
  </div>

  <div class="flex leading-3 max-md:leading-[0] pt-[6rem] 3xl:pt-[30rem]">
    <p class="loop-text left">{{text}}</p>
    <p class="loop-text left">{{text}}</p>
    <p class="loop-text left">{{text}}</p>
    <p class="loop-text left">{{text}}</p>
  </div>

  <div class="flex leading-3 max-md:leading-[0] pt-[6rem] 3xl:pt-[30rem]">
    <p class="loop-text right">{{text}}</p>
    <p class="loop-text right">{{text}}</p>
    <p class="loop-text right">{{text}}</p>
    <p class="loop-text right">{{text}}</p>
  </div>

  <div class="flex leading-3 max-md:leading-[0] pt-[6rem] 3xl:pt-[30rem]">
    <p class="loop-text left">{{text}}</p>
    <p class="loop-text left">{{text}}</p>
    <p class="loop-text left">{{text}}</p>
    <p class="loop-text left">{{text}}</p>
  </div>

</section> 

