<section class="flex-col text-primary h-screen">
  <div class="nav flex justify-end mr-14 pt-5">
    <app-navbar></app-navbar>
  </div>

  <div class="flex h-[90vh]">
    <h1 class=" font-extrabold text-[24vh] self-end ml-4 uppercase">{{pageName}}</h1>
  </div>
</section>

<section id="projects">
  <div *ngFor="let project of projectsInfo; index as i" class="flex h-screen cursor-pointer focusback-hover bg-background"
    (click)="openProject(project.id)">
    <div class="w-1/2 p-10 flex-nowrap flex items-center ">
      <div>
        <h3 class="text-6xl uppercase  font-bold text-wrap text-left">{{project.title}}</h3>
        <p class="w-3/4 font-medium text-xl text-left">
          {{project.caption}}
        </p>
      </div>
    </div>
    <div class="w-1/2 flex justify-center items-center" [style.background-color]="project.bannnerColor">
      <img [src]="project.bannerUrl" alt="project_img" class="w-96">
    </div>
  </div>
</section>


<app-footer></app-footer>