<section class="flex flex-col text-primary">

  <app-navbar></app-navbar>

  <div class="flex h-[70vh] sm:h-[70vh] md:h-[80vh] lg:h-[100vh]">
    <h1 class="font-extrabold text-[8vh] sm:text-[14vh] md:text-[18vh] lg:text-[24vh] self-end ml-2 sm:ml-4 uppercase">
      {{pageName}}</h1>
  </div>
</section>


<section id="projects" class="pt-10 bg-background">
  <div *ngFor="let project of projectsInfo; index as i"
    class="flex flex-wrap h-screen cursor-pointer focusback-hover bg-background" (click)="openProject(project.id)">
    <div class="w-full md:w-1/2 p-4 sm:p-6 md:p-10 flex-nowrap flex items-center">
      <div>
        <h3 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl uppercase font-bold text-wrap text-left 3xl:text-9xl 3xl:ml-40">
          {{project.title}}</h3>
        <p class="w-full md:w-3/4 font-medium text-base sm:text-lg md:text-xl text-left 3xl:text-5xl 3xl:ml-40">
          {{project.caption}}
        </p>
      </div>
    </div>
    <div class="w-full md:w-1/2 p-10 flex justify-center items-center" [style.background-color]="project.bannnerColor">
      <img [src]="project.bannerUrl" alt="project_img" class="w-48 sm:w-64 md:w-80 lg:w-96">
    </div>
  </div>
</section>


<app-footer></app-footer>